form {
    text-align: center;
}

#formulaire {
    font-size: small;
    width: 30%;
    height: 50%;
    background: rgba(255, 255, 255, 0.506);
    text-align: center;
}

#log {
    font-size: small;
    text-align: center;
    width: 30%;
    height: 30%;
    background: rgba(255, 255, 255, 0.5);
}

p {
    font-size: small;
}

body {
    margin-left: 40%;
    text-align: center;
    float: center;
    background-attachment: scroll;
}