
form
{
    text-align:center;
    
}

#formulaire{
    font-size: small;
    width: 30%;
    height: 70%;
    background: rgba(104, 97, 19, 0.719);
    text-align: center;

}

#log{
    font-size: small;
    text-align: center;
    width: 30%;
    height: 40%;
    background: rgba(172, 159, 21, 0.753);  
    
}
p{
    font-size:small;
} 
body{
    text-align:center; 
    background-attachment:scroll;
    }
    