
form
{
    text-align:center;
}
.input{
    float: center;
}

form {
    text-align: center;
}

.input {
    float: middle;
}

.tablemessage {
    width: 100%;
    float: middle;
    text-align: center;
}

.messageancien {
    width: 50%;
    float: center;
    text-align: middle;
}
input, textarea{
    width: 30%;
   
    font-size: 17px;
}
.espace:after{
    content: "";
    display: table;
    clear: both;
}
